<!DOCTYPE html>
<html>
<head>
	<title>Plantz</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/index.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js"></script>
	<link rel=stylesheet type="text/css" href="/index.css">
	<!-- Intercom JS Library -->
	<script>
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;
		s.src='https://widget.intercom.io/widget/cdl9dcei';
		var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
  </script>
</head>
<body>
	<h1 id="test">Plantville</h1>
<!-- 	<div class="buttons workspace_id">
		Select a workspace: <select id="idDropdown"> 
			<option value="qrhcqgez">Annie</option>
			<option value="rnkl5zw9">CS Mappe</option> -->
			
		</select>
		<div class="add_id">What's your app ID?<form id="idForm">
			<input type="text" name="appId" id="appId">
			<input type="submit" name="submit" id="submit" value="Submit app_id">
		</form>
	</div>
</div>


	<div class="buttons">
		<button id="boot_lead">Boot Lead</button>
		<button id="shutdown">Shutdown</button>
		<button id="sansevieria_button">Boot Sansevieria</button>
		<button id="tradescantia_button">Boot Tradescantia</button>
		<button id="ficus_elastica_button">Boot Ficus Elastica</button>
		<button id="boot_random_user">Boot a random user</button>
		<button id="segment_identify_user">Segment identify() [qrhcqgez]</button>
		<button id="segment_page_lead">Segment page() [qrhcqgez]</button>
	</div>
			<!-- <button id="apibutton">Get a conversation</button> -->
	<div class="buttons">
		<button id="update_button">Update with no params</button>
		<button id="updateWithTime_button">Update with current time</button>
		<button id="invited_friend_button">Track Event "invited_friend"</button>
		<form id="event">
			<input type = "text" name="customEventField" id="customEventField">
			<input type = "submit" id="track_custom_event_button" value="Track Custom Event">
		</form>
		
	</div>
	<div class="buttons">
		<button id="hide_messenger">Hide the Messenger</button>
		<button id="show_messenger">Show the Messenger</button>
		<button id="show_Messages">Show Messages</button>
		<button id="show_new_message">Show New Messages</button>
		<button id="show_new_message_with_content">Show New Message With Content</button>
		<button id="on_hide">onHide</button>
		<button id="on_show">onShow</button>
	</div>
</body>
</html>